{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(todoListForm) }}
        {{ form_widget(todoListForm) }}
        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(todoListForm) }}
{% endblock %}